<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理列表</title>
  </head>
  <body>

    <%- include('././layout/admin-header'); -%>

    <div class="container-fluid mt-3 px-0">
      <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">標題</th>
            <th scope="col">內文</th>
            <th scope="col">編輯</th>
          </tr>
        </thead>
        <tbody id="vistaTd">
                  
        </tbody>
      </table>
    </div>

    <%- include('./layout/footer'); -%>
    
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../all.js"></script>
  </body>
</html>
