<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>

    <div class="container mt-4">
      <h2>註冊</h2>
      <div class="my-4">
      <label class="mt-3 mb-1" for="email">信箱</label>
      <input class="form-control" name="email" type="text">
      <label class="mt-3 mb-1" for="pswd">密碼</label>
      <input class="form-control" name="pswd" type="password">
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
