<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>收藏列表</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>

    <div class="container mt-4">
      <h2 class="fw-bold">景點列表</h2>
      <div class="my-4">
        <ul class="row p-0" id="vistaLi">

        </ul>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../all.js"></script>
    <script>
      let a=response;
    </script>
  </body>
</html>
