<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>景點內文</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>

    <div class="container mt-4">
      <h2 class="fw-bold">景點內文</h2>
      <div class="my-4">
      <a href="">已收藏 未收藏 </a>
      <p> {
        "id": 1,
        "name": "帆船鼻大草原",
        "description": "帆船鼻位於綠島東南角，有「綠島地毯」之稱，由於地形突出，地勢又高出四周，屬東北季季風可長驅直入的衝風帶；再加上後天的放牧，遂形成低草原景觀。草原邊緣懸崖可以俯視朝日溫泉與海參坪，也是綠島居高臨下欣賞日出、月昇，沐浴海風的最佳景點之一。"
        </p>
      </div>
      <a href="vista-detail.html" class="btn btn-primary">返回列表</a>
    </div>
    
    <%- include('./layout/footer'); -%>
    
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../all.js"></script>
  </body>
</html>
